@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource/cal-sans";
@import "@fontsource/anek-kannada";

/* =========================
   ROOT
========================= */
:root {
  /* cores base */
  --text: #000000;
  --text-heading: #08060d;
  --border: #e5e5e5;
  --code-bg: #ffffff;

  /* fundo */
  --background: #ffffff;

  /* cores principais */
  --primary: #1f1f1f;
  --secondary: #f3f3f3;
  --accent: #f2a7d6;

  /* estados de texto */
  --text-muted: #6b6375;

  /* fontes */
  --font-heading: "Cal Sans", sans-serif;
  --font-body: "Anek Kannada", sans-serif;
  --font-mono: ui-monospace, Consolas, monospace;

  /* gradiente global */
  --bg-gradient: linear-gradient(
    90deg,
    #e3a8a1 0%,
    #f7afcf 50%,
    #d8a6f7 100%
  );
}

/* =========================
   BASE GLOBAL
========================= */
html {
  font-family: var(--font-body);
  background: var(--bg-gradient);
}

body {
  min-height: 100vh;
  color: var(--text);
  margin: 0;
  padding: 0;
}

/* layout principal */
#root {
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* =========================
   TIPOGRAFIA
========================= */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 500;
  color: var(--text-heading);
}

/* =========================
   BASE GLOBAL STYLES
========================= */
* {
  border-color: var(--border);
  box-sizing: border-box;
}